{% extends "base.html" %}

{% block content %}

<p><h4>Wybierz co chcesz wyświetlić</h4></p>
<p></p>
    <div>
        <a href="{{ url_for('material_list') }}" class="btn btn-secondary my-2 my-sm-0" type="button">Materiały</a>
    </div><p></p>
    <div>   
        <a href="{{ url_for('headskop_list') }}" class="btn btn-secondary my-2 my-sm-0" type="button">Wzory kopertowe</a>
        <a href="{{ url_for('headskla_list') }}" class="btn btn-secondary my-2 my-sm-0" type="button">Wzory klasyczne</a>
    </div><p></p>
    <div>
        <a href="{{ url_for('letter_list') }}" class="btn btn-secondary my-2 my-sm-0" type="button">Litery</a>
        <a href="{{ url_for('krzyz_list') }}" class="btn btn-secondary my-2 my-sm-0" type="button">Krzyże</a>
        <a href="{{ url_for('photo_list') }}" class="btn btn-secondary my-2 my-sm-0" type="button">Zdjęcia</a>
    </div><p></p>
    <div>
        <a href="{{ url_for('photo_list') }}" class="btn btn-secondary my-2 my-sm-0" type="button">Wazony</a>
        <a href="{{ url_for('photo_list') }}" class="btn btn-secondary my-2 my-sm-0" type="button">Lampiony</a>
        <a href="{{ url_for('photo_list') }}" class="btn btn-secondary my-2 my-sm-0" type="button">Podstawki</a>
        <a href="{{ url_for('photo_list') }}" class="btn btn-secondary my-2 my-sm-0" type="button">Misy</a>
    </div>
{% endblock %}











