{% extends "base.html" %}

{% block content %}
<h3>
   Dodaj nowego klienta
</h3>

<form action="" method="POST">
  {{form.hidden_tag()}}
   <div class="form-group">
       <label for="name">Imię</label>
       {{ form.name(class_="form-control") }}
   </div>
   <div class="form-group">
       <label for="surname">Nazwisko</label>
       {{ form.surname(class_="form-control") }}
   </div>
   <div class="form-group">
       <label for="tel1">Telefon 1</label>
       {{ form.tel1(class_="form-control") }}
   </div>
   <div class="form-group">
       <label for="tel2">Telefon 2</label>
       {{ form.tel2(class_="form-control") }}
   </div>
   <div class="form-group">
       <label for="location">Miejsce</label>
       {{ form.loc(class_="form-control") }}
   </div>
   <div class="form-group">
       <label for="info">Dodatkowe info</label>
       {{ form.info(class_="form-control", cols="100", rows="20") }}
   </div>
   <button type="submit" class="btn btn-primary mt-5">Zapisz</button>
</form>

{% endblock %}