{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Wybierz wzór</h1>
        <p></p>
</div>

{% for w in wzory %}

<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <button>
            <a href="{{ url_for('create_entry', x=w.photo) }}">
                <img src= "{{url_for('static',filename= w.photo )}}"  width='230' height='300'>
            </a>
        </button>
    </div>
</div>

{% endfor %}

{% endblock %}
        